.blogPost {
  padding: 20px 15px;
  background: #fff;
  border-radius: 8px;
}

.readMore {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 18px;
  padding: 0;
  transition: 300ms ease-in-out;

  &:hover {
    padding-left: 10px;
  }
}
