.headerContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  margin-bottom: 100px;

  .logoContainer {
    text-align: center;
  }

  * {
    flex: 1;
  }
}
